<% if current_user and current_user.employee == 'y' %>

  <h2>🎀Editar Modelo </h2>

<%= render 'form', clote: @clote %>

<div class="link_back">
  <%= link_to  'Ver', @clote %> |
  <%= link_to  'Voltar', clotes_path %>
</div>
<% else %>
  <p>Acesso Negado</p>
<% end %>
