<% if current_user and current_user.employee == 'y' %>

<h2> 🎀
  <%= @clote.model%>
</h2>

  <figure class="left">
    <%= image_tag @clote.photo.url(:medium)%>
  </figure>
 <br>

  <strong>Modelo:</strong>
  <%= @clote.model %><br>


  <strong>Price:</strong>
    <% if @clote.price %>
      R$ <%= format("%.2f", @clote.price) %>
    <% else %>
      Indisponível
    <% end %><br>
 
  <strong>Descrição:</strong>
  <%= @clote.description %>
 <br>


  <strong>Categoria:</strong>
  <%= @clote.category.name %>
 <br>

<div class="link_back">
<%= link_to  'Editar', edit_clote_path(@clote) %> |
<%= link_to  'Voltar', clotes_path %>
</div>

<% end %>
