<% if current_user and current_user.employee == 'y' %>
  <h2>🎀 Editar Estoque </h2>

<%= render 'form', stock: @stock %>

<div class="link_back">
<%= link_to  'Ver', @stock %> |
<%= link_to  'Voltar', stocks_path %>
</div>

<% else %>
  <p>Acesso Negado</p>
<% end %>
