<h2>🎀 <%= @stock.clote.model %> </h2>

<div class="flex">
  <div class="set_flex">
  <figure class="left">
    <%= image_tag @stock.clote.photo.url(:medium)%>
  </figure>

    <strong>Categoria:</strong>
    <%= @stock.clote.category.name %>
<br>
    <strong>Modelo:</strong>
    <%= @stock.clote.model %>
<br>
    <strong>Tamanho:</strong>
    <%= @stock.measure.size %>
<br>
    <strong>Preço:</strong>
      <% if @stock.clote.price %>
        R$ <%= format("%.2f", @stock.clote.price) %>
      <% else %>
        Indisponível
      <% end %>
<br>
    <strong>Descrição:</strong>
    <%= @stock.clote.description %>

</div>

<div class="set_flex dresser">
  <h3>👗 Provador Online</h3>
    <%if current_user%>
      <%if current_user.bust != 0 and current_user.waist != 0 and current_user.hip != 0 %>
        <ul>
        <% if @stock.clote.category.name == "Vestido"%>
            <li><b>Busto:</b>
            <% if current_user.bust < @stock.measure.bust-2 %>
              Folgado</li>
            <% elsif current_user.bust > @stock.measure.bust+2%>
              Apertado</li>
            <% else %>
              Excelente!</li>
            <% end %>
            <li><b>Cintura:</b>
            <% if current_user.waist < @stock.measure.waist-2 %>
              Folgado</li>
            <% elsif current_user.waist > @stock.measure.waist+2%>
              Apertado</li>
            <% else %>
              Perfeito!</li>
            <% end %>
        <% elsif @stock.clote.category.name == "Camiseta"%>
          <li><b>Busto:</b>
          <% if current_user.bust < @stock.measure.bust-2 %>
            Folgado</li>
          <% elsif current_user.bust > @stock.measure.bust+2%>
            Apertado</li>
          <% else %>
            Excelente!</li>
          <% end %>
          <li><b>Cintura:</b>
          <% if current_user.waist < @stock.measure.waist-2 %>
            Folgado</li>
          <% elsif current_user.waist > @stock.measure.waist+2%>
            Apertado</li>
          <% else %>
            Perfeito!</li>
          <% end %>
        <% elsif @stock.clote.category.name == "Calça" or @stock.clote.category.name == "Short" or @stock.clote.category.name == "Saia" %>
          <li><b>Quadril: </b>
          <% if current_user.hip < @stock.measure.hip-2 %>
            folgado</li>
          <% elsif current_user.hip > @stock.measure.hip+2%>
            Apertado</li>
          <% else %>
            Medida certa!</li>
          <% end %>
        <% else %>
          <p>Infelizmente ainda não fornecemos suporte para esse modelo.</p>
        <% end %>
        </ul>
      <% else %>
        <p>Edite suas medidas em seu perfil, para saber como esta peça ficará em você.</p>
      <% end %>
    <% else %>
      <p><%= link_to "Cadastre-se", new_user_registration_path, :class => 'navbar-link'  %> e experimente o nosso Provador Online</p>
    <% end %>
    <div><p>👠👚👢👒💋💄💎</p></div>
  </div>
</div>

<% if current_user and current_user.employee == 'y' %>
  <div class="link_back">
    <%= link_to  'Editar', edit_stock_path(@stock) %> |
    <%= link_to  'Voltar', stocks_path %>
  </div>
<% end %>
