/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .border {
   border:solid;
 }

 .left {
   float:left;
 }

 .right {
   float:right;
 }

 .flex {
   display:flex;
 }

 .set_flex {
   flex:1;
 }

 .table {
   display: table;
 }

 .center {
   text-align: center;
 }

 .link_back {
   text-align: right;
   width: 100%;
   clear: both;
   padding-top: 30px;
 }

 html, body {
   margin:0;
   height: 100%;
   font-family: serif;
   font-size: 16px;
 }

 .container-fluid {
  min-height:100%;
	position:relative;
  padding-bottom: 150px;
 }

 header,
 footer {
  background-image: image-url('fundo1.jpg');
  box-shadow: 2px 0px 20px #000;
  height: 100px;
  color: #fff;
  overflow: hidden;
 }

 .flower {
   display: table;
   width: 100%;
   height: 100%;
   padding: 0 60px;
   background-color: rgba(0, 51, 102, 0.6);
   overflow: hidden;
 }

 header h1 {
   font-family: "Cookie";
   font-size: 90px;
   text-shadow:  2px 2px 10px #000;
   padding: 0;
   margin: 10px 0 0 0;
 }

 header a,
 header a:visited {
   color: #fff;
   padding:0.2rem;
   font-weight: bold;
 }

 header a:hover,
 header a:active {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius:0.5rem;
 }

 header h1 a,
 header h1 a:visited {
   color: inherit;
   font-weight: normal;
 }

 header h1 a:hover,
 header h1 a:active {
   color: inherit;
  background-color: inherit;
 }

 a,
 a:visited {
   color:#003366;
   font-weight: bold;
 }

 a:hover,
 a:active {
  color:#ff1a1a;
  border-radius:0.5rem;
  background-color: #fff;
  text-decoration: none;
 }

 footer{
  position:absolute;
	bottom:0;
  width: 100%;
 }

 main {
   width: 80%;
   margin:auto;
}

input {
  width: 400px;
}

input[type=submit], input[type=button], button{
  margin-top: 40px;
  color: #fff;
  background-color: #003366;
  width: auto;
  min-width: 100px;
  border:none;
  padding:10px;
  border-radius: 10px;
}

input[type=submit]:hover, input[type=button]:hover, button:hover{
  color: #fff;
  background-color: #ff1a1a;
  cursor: pointer;
}

input[type=checkbox] {
  width: 20px;
  float: left;
}

form {
  width: 100%;
  text-align: center;
}

fieldset {
  text-align: left;
  margin-top: 30px;
  max-width: 450px;
}

h2 {
  margin-bottom: 50px;
  font-family: "Cookie";
  font-size: 70px;
}

h3 {
  margin-bottom: 50px;
  font-family: "Cookie";
  font-size: 30px;
}

legend {
  font-family: "Cookie";
  font-size: 30px;
  text-align: center;
}

hr {
  margin-top: 60px;
}

.notice {
  text-align: left;
}

nav {
  background-color: #003366;
  padding: 10px;
  margin-top: 0;
  width: 500px;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
nav a,
nav a:visited {
  color: #fff;
}

nav a:hover,
nav a:active {
  color: #fff;
  background-color: #003366;
  text-decoration: underline;
}

th {
  min-width: 150px;
}

figure {
  margin-right: 20px;
}

.dresser {
  max-width: 400px;
  background-color: rgba(0, 51, 102, 0.2);
  border-radius: 70px;
  position: relative;
}
.dresser h3{
  font-size: 50px;
  text-align: center;
  text-shadow:  1px 1px 5px #444;
}

.dresser ul {
  list-style: none;
}

.dresser div {
  position: absolute;
  bottom: -10px;
  text-align: center;
  width: 100%;
}

.dresser div p {
  font-size: 30px;
}

.dresser a:hover {
  background-color: inherit;
}

.banner {
  max-width: 240px;
  min-height: 400px;
  overflow: hidden;
  text-align: center;
  margin:10px;
}

.banner figure{
  margin: 10px auto;
  min-height: 300px;
}
