<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <div class="field">
    <%= f.label :name, "Categoria" %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
</fieldset>
<% end %>
