<% if current_user and current_user.employee == 'y' %>
  <h2>🎀 Editar Medida </h2>

<%= render 'form', measure: @measure %>

<div class="link_back">
<%= link_to  'Ver', @measure %> |
<%= link_to  'Voltar', measures_path %>
</div>
<% else %>
  <p>Acesso Negado</p>
<% end %>
